.main-dashboard__item-content {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  & input {
    border: none;
    border-bottom: 1px solid grey;
    margin: 0 10px;
    width: 60%;
    box-sizing: content-box;
    &:focus-within {
      outline: 0;
    }
  }
  & button {    
    border-radius: 5px;
    width: 50px;
    border: 0;
    background: #a5d5f7;
    &:hover {
      cursor: pointer;
      background-color: #a5d5f7a6;
    }
  }
}
