.main-dashboard {
  position: relative;
  padding: 50px 0 100px 0;
  top: 100px;
  left: 0;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: white;
  &__trash {
    color: black;
    border: 2px dashed grey;
    margin: 0 10px;
    height: 110px;
    width: 80px;
    border-radius: 20%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 38px;
    top: 250px;
    box-shadow: 0px 0px 30px grey;
    &:hover {
      transform: scale(1);
      &::before {
        top: -15px;
        transform: translateY(-20px) translateX(25px) rotateZ(50deg);
      }
      &::after {
        left: -13px;
        top: 100px;
        transform: rotateZ(-35deg);
      }
    }
    &::before {
      transition: transform 0.4s ease-in;
      content: '';
      position: fixed;
      width: 90px;
      height: 20px;
      border: 2px dashed grey;
      top: 235px;
      background-color: lightgray;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &::after {
      content: '';
      transition: transform 0.4s ease-out;
      position: fixed;
      width: 15px;
      height: 2px;
      border: 2px solid grey;
      top: 352px;
      left: 37px;
      background-color: lightgray;
    }
  }
  &__toolbox {
    color: black;
    padding: 20px;
    margin: 0 20px 0 10px;
    flex: 1 1;
    border: 2px dotted grey;
    border-radius: 10px;
  }
  &__time-axis {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // background-color: blue;
    margin-right: 20px;
    border-right: 3px dashed rgba(0, 0, 0, 0.8);
    padding: 10px;
    flex: 1;
    position: relative;
    &::before {
      content: "";
      border: solid rgba(0, 0, 0, 0.8);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 2px;
      height: 2px;
      position: absolute;
      top: -14px;
      right: -7px;
    }
    &::after {
      content: "";
      border: solid rgba(0, 0, 0, 0.8);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 2px;
      height: 2px;
      position: absolute;
      bottom: -6px;
      right: -7px;
    }
    &__item {
      margin-bottom: 10px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      border-bottom: 1px dotted grey;
    }
  }
  &__assignments-axis {
    flex: 2;
    margin: 0 auto;
    padding: 10px;
    &__item {
      max-width: 200px;
      background-size: 101%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 26px;
      position: relative;
      margin-bottom: 10px;
      border-radius: 10px;
      user-select: none;
      box-shadow: 2px 2px 5px grey;
      &-content {
        padding: 10px;
      }
      &--ghost {
        height: 24px;
        box-shadow: none;
        border: 1px dotted grey;
        background-color: white;
        color: grey;
      }
    }
  }
}
